@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
$fs:"DM Sans", sans-serif;
$white:white;
$primary:#0D2F3F;
$lightPrimary:#09597e;
$pest:rgba(9, 197, 217, 1);
$blue:rgba(64, 167, 255, 1);
$lightGray:#d9d9d944;
$gray:#d9d9d925;