@use '../../../../global_style//reusable_variables/index' as v;

.main{
    font-family: v.$fs;
    .titleBar{
        width: 99%;
        margin: auto;
        margin-bottom: 7px;
        .titleBarContainer{
            i{
                margin-left: 10px;
                cursor: pointer;
            }
            select{
                margin-left: 10px;
                width: 150px;
            }
        }
    }
    .tableArea{
        width: 100%;
        // overflow-x: hidden;
        // overflow-y: scroll;
        overflow: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
    }
    
    table {
        width: 99%;
        border-collapse: collapse;
        margin: 5px 5px;
        box-shadow: 0 2px 3px rgba(0,0,0,0.1);
        font-size: 12px;
    }
    th, td {
        padding: 4px;
        border: 1px solid #dddddd;
        text-align: left;
    }
    th {
        background-color: #f4f4f4;
    }
}