@use '../../../global_style/reusable_variables/index' as v;
.main{
    .titleBar{
        width: 100%;
        height: 49px;
        .titleBarContainer{
            width: 99%;
            height: 40px;
            background-color:v.$pest;
            border-radius: 5px;
            padding: 9px;
            .mappedRoute{
                font-family: v.$fs;
                color: v.$white;
                font-weight: bold;
                font-size: 16px;
                span, p{
                    cursor: pointer;
                }
            }
       }
    }
}