@use '../../../../global_style//reusable_variables/index' as v;

.main{
    font-family: v.$fs;
    .title{
        width: 100%;
        height: auto;
        padding: 0px 8px;
        font-size: 13px;
        margin-bottom: 6px;
        i{
            cursor: pointer;
            margin-right: 10px;
        }
        label{
            margin: 0 5px
        }
        input{
            margin: 0 10px;
        }
    }



}

@media screen and (max-width:1242px) {
    .main{
    margin-top: 10px;
    }
}